@using Spaanjaars.ContactManager45.Web.Mvc.Helpers
@model Spaanjaars.ContactManager45.Web.Mvc.Models.CreateAndEditEmailAddress
@Html.HiddenFor(x => x.PersonId)
<div class="editor-label">
  @Html.LabelFor(model => model.EmailAddressText) @Html.ValidationMessageFor(model => model.EmailAddressText)
</div>
<div class="editor-field">
  @Html.EditorFor(model => model.EmailAddressText)
</div>

<div class="editor-label">
  <label>ContactType</label>
  @Html.ValidationMessageFor(model => model.ContactType)
</div>
<div class="editor-field">
  @Html.EnumDropDownListFor(model => model.ContactType)
</div>
